.cover__link {
  color: #FFFFFF;
  text-decoration: none;
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  position: relative;
}

.cover__link::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .3;
  background-color: #2A2C2F;
}

.cover__link:hover::before {
  opacity: .8;
}
