.photo-grid {
  max-width: 100%;
  padding: 92px 48px 0 48px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4,calc((100% - 48px)/4));
  gap: 16px 16px;

}

@media screen and (max-width: 1100px) {
  .photo-grid {
    grid-template-columns: repeat(3,calc((100% - 28px)/3));
    gap: 14px 14px;
  }
}
