.header__language-select {
  margin: 46px 48px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2,max-content);
  column-gap: 18px;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .header__language-select {
    margin: 46px 24px 0 0;
  }
}

@media screen and (max-width: 540px) {
  .header__language-select {
    margin: 30px 16px 0 0;
  }
}
