.places__link {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-decoration: underline;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 540px) {
  .places__link {
    position: static;
    padding-top: 20px;
  }
}
