.cover__subtitle {
  width: 360px;
  grid-area: 1 / 1 / 2 / 2;
  margin: 429px auto 0 auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  z-index: 10;
}

@media screen and (max-width: 1100px) {
  .cover__subtitle {
    margin: 379px auto 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .cover__subtitle {
    margin: 299px auto 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    width: 260px;
    margin: 119px auto 0 auto;
    font-size: 14px;
    line-height: 16px;
  }
}
