.cover__subtitle {
  width: 360px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  z-index: 10;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    width: 260px;
    font-size: 14px;
    line-height: 16px;
  }
}
