.link_place_cover {
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  position: relative;
}

.link_place_cover::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  transition: opacity 0.5s linear;
  background-color: #2A2C2F;
}

.link_place_cover:hover::before {
  opacity: .8;
}

.link_place_cover:hover {
  opacity: 1;
}
