.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-align: right;
}

@media screen and (max-width: 540px) {
  .footer__copyright {
    padding-top: 16px;
    text-align: left;
  }
}
