.cover__title {
  width: 560px;
  grid-area: 1 / 1 / 2 / 2;
  margin: 245px auto 0 auto;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  z-index: 10;
}

@media screen and (max-width: 1100px) {
  .cover__title {
    margin: 195px auto 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .cover__title {
    margin: 115px auto 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .cover__title {
    width: 250px;
    margin: 33px auto 0 auto;
    font-size: 32px;
    line-height: 35px;
  }
}
