.places__url-heading {
  margin: 0;
  position: absolute;
  bottom: 34px;
  left: 0px;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (max-width: 900px) {
  .places__url-heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 600px) {
  .places__url-heading {
    position: static;
    line-height: 12px;
    margin-bottom: 12px;
  }
}
